#pair: Arnold Son, James Ye
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>index</title>
    </head>
    <body>
        <form class="" action="/result" method="post">
            Your Name: <input type="text" name="name" value="">
            Dojo Location: <input type="text" name="location" value="">
            Favorite Language: <input type="text" name="language" value="">
            Comment (optional): <input type="text" name="comment" value="">
            <input type="submit" name="" value="submit">
        </form>
    </body>
</html>
